@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.c-data-container {
  opacity: 1;
  transition: opacity 1s ease-in-out;

  &.is-loading {
    opacity: 0;
  }
}

.c-alert {
  --alert-gap: 1.5em;
  --alert-color-default: #549fe0;
  --alert-color-error: #f13e3e;
  align-items: center;
  background-color: var(--alert-color-default);
  border-radius: 0.15em;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: var(--alert-gap);
  padding: var(--alert-gap);

  > *:not(:last-child) {
    margin-right: 0.5em;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }

  &--error {
    background-color: var(--alert-color-error);
  }
}

.c-refresh {
  --refresh-color: #8a8a8a;
  --refresh-color-hover: #676767;
  color: var(--refresh-color);
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  transition: color 0.3s ease-in-out;
  z-index: 100;

  &.is-loading {
    animation: rotating 2s linear infinite;
  }

  &:hover {
    color: var(--refresh-color-hover);
  }
}
